
*{
    margin: 0px 0px ;
    padding: 0px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-25,
.col-50 {
    height: 600px;
}
